.main-header {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, var(--color-second-red) 12%, transparent),
    url("../images/office_header_mobile_top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title__container {
  position: absolute;
  top: 45%;
  width: 90%;
  margin: 0 5%;
  text-align: center;
  transform: translateX(-120%);
  transition: transform var(--animation-time-long-plus);
}

.title {
  color: var(--color-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  text-shadow: 1px 1px 1px var(--color-second-black);
}

.header-active .title__container {
  transform: translateX(0);
}

.buttons__container {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  transform: translateX(-100%);
  transition: transform var(--animation-time-long);
}

.header-active .buttons__container {
  transform: translateX(0);
}

.contact--btn {
  padding: 20px 25px;
  border: 2px solid var(--color-white);
  text-decoration: none;
  color: var(--color-white);
  background-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all var(--animation-time-main);
}

.contact--btn:hover {
  background-color: var(--color-white);
  color: var(--color-second-red);
}

@media screen and (min-width: 1000px) {
  .main-header {
    background: linear-gradient(
        to top,
        var(--color-second-red) 12%,
        transparent
      ),
      url("../images/office_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .contact--btn {
    padding: 40px 65px;
    border: 3px solid var(--color-white);
    text-decoration: none;
    font-size: 2.4rem;
  }
}

.about-us {
  background-color: var(--color-white);
}

.about-us-description {
  text-align: justify;
  padding: 20px 0;
  width: 100%;
  transform: translateX(-110%);
  transition: transform var(--animation-time-long-plus);
}

.button__container {
  width: 100%;
  text-align: center;
  padding: 44px 0;
  transform: translateX(-110%);
  transition: transform var(--animation-time-long-plus);
}

.about-us--show .about-us-description,
.about-us--show .button__container {
  transform: translateX(0);
}

.projects--btn {
  text-decoration: none;
  color: var(--color-second-red);
  text-transform: uppercase;
  padding: 20px 25px;
  border: 2px solid var(--color-second-red);
  transition: all var(--animation-time-main);
}

.projects--btn:hover {
  color: var(--color-white);
  background-color: var(--color-second-red);
}

@media screen and (min-width: 1000px) {
  .about-us-description {
    text-align: justify;
    padding: 40px 0;
    font-size: 2.4rem;
  }

  .button__container {
    padding: 90px 0;
  }

  .projects--btn {
    text-decoration: none;
    color: var(--color-second-red);
    text-transform: uppercase;
    padding: 40px 65px;
    font-size: 2.4rem;
    border: 2px solid var(--color-second-red);
    transition: all var(--animation-time-main);
  }
}

/* Sekcja oferta */

.offer {
  background-color: var(--color-second-red);
  color: var(--color-white);
  padding-bottom: 40px;
}

.offer__element {
  width: 100%;
  background-color: var(--color-white);
  padding: 0;
  margin: 30px 0;
}

.offer-img__container {
  overflow: hidden;
  width: 100%;
}

.offer-img {
  width: 100%;
  transition: transform var(--animation-time-long);
}

.offer-img__container:hover .offer-img {
  transform: scale(1.1);
}

.offer-title {
  color: var(--color-second-black);
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}

.offer-desc__container {
  padding: 15px 5%;
}

.offer-details-list {
  list-style-type: none;
  text-align: center;
}

.offer-detail {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-second-red);
}

.offer-detail:last-child {
  border: none;
}

.offer-detail--link {
  text-decoration: none;
  color: var(--color-main-dark);
  letter-spacing: 1px;
}

@media screen and (min-width: 1000px) {
  .offer {
    padding-bottom: 50px;
  }

  .offer__element {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 40% 1fr;
  }

  .offer-img__container {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .offer__element:nth-child(even) {
    grid-template-columns: 1fr 40%;
  }

  .offer__element:nth-child(even) .offer-img__container {
    grid-column-start: 3;
    grid-column-end: 2;
  }

  .offer-img {
    height: 100%;
  }

  .offer-title {
    padding-top: 25px;
    font-size: 2rem;
  }

  .offer-detail--link {
    font-size: 1.4rem;
    transition: all var(--animation-time-main);
  }

  .offer-detail--link:hover {
    color: var(--color-main-red);
  }
}
